@charset "utf-8";
/* CSS Document */

body {
	background-color: #111111;
	overflow-y: scroll;
	overflow-x: hidden;
}

#link {
	display: block;
	position: relative;
	left: 50%;
	margin-left: -128px;
	margin-top: 128px;
}

#link > h1 {
	color: #FFFFFF;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}